header {
  margin-bottom: 1em;
}

header > h1 {
  display: inline-block;
}

.orbit {
  animation: rotation 10s infinite linear;
  animation-play-state: paused;
  cursor: pointer;
  float: right;
  height: 4rem;
  margin-top: 2rem;
}

.spin {
  animation-play-state: running;
}

.resource.active {
  color: blue;
}

.resource.inactive {
  color: grey
}

.resource.hidden {
  display: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  border-top: 1px solid black;
  margin-top: 2em;
  padding-top: 2em;
}
