@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 700;
}

header {
  margin-bottom: 1em;
}

header > h1 {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:disabled,
button[disabled] {
  cursor: default;
  border: 1px solid #999999;
  background-color: transparent;
  color: #666666;
}

button.cooldown {
  width: 15rem;
  height: 3.8rem;
  top: 0;
  left: 0;
  position: absolute;
  border-color: #666;
}

.btn-cooldown {
  width: 15rem;
  height: 3.8rem;
  display: inline-block;
  position: relative;
}

.btn-cooldown-bar {
  background-color: #ccc;
  width: 0;
  height: 3.8rem;
  position: absolute;
  left: 0;
  top: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
}

.orbit {
  animation: rotation 10s infinite linear;
  animation-play-state: paused;
  cursor: pointer;
  float: right;
  height: 4rem;
  margin-top: 2rem;
}

.spin {
  animation-play-state: running;
}

.resource.active {
  color: blue;
}

.resource.inactive {
  color: grey;
}

.resource.hidden {
  display: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  border-top: 1px solid black;
  margin-top: 2em;
  padding-top: 2em;
}

.main-page {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  grid-template-areas: 'resources . log';
}

.resource-list {
  grid-area: resources;
  min-width: 235px;
}

.log-entries {
  grid-area: log;
  min-width: 235px;
}

.log-entries > p {
  margin: 0;
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid #ccc;
}
