@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 700;
}

header {
  margin-bottom: 1em;
}

header > h1 {
  display: inline-block;
}

.container {
  width: 90%;
  max-width: 1200px;
}

.orbit {
  animation: rotation 10s infinite linear;
  animation-play-state: paused;
  cursor: pointer;
  float: right;
  height: 4rem;
  margin-top: 2rem;
}

.spin {
  animation-play-state: running;
}

.resource.active {
  color: blue;
}

.resource.inactive {
  color: grey
}

.resource.hidden {
  display: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  border-top: 1px solid black;
  margin-top: 2em;
  padding-top: 2em;
}

.main-page {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  grid-template-areas: "resources . log"
}

.resource-list {
  grid-area: resources;
}

.log-entries {
grid-area: log;
}

.log-entries > p {
  margin: 0;
}